/* * {
    border: 1px solid red;
} */
body, html {
    height: 100%;
    margin: 0;
}

nav {
    display: block;
    background-color: green;
    height: 100px;
    box-shadow: 0 10px 3px rgba(0, 0, 0, 0.12);
}

.nav-container {
    background-color: aqua;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 50px;
    
}

li a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

a.active {
    color: black;
}
